

div{
    background-color: blue;
    color: white;
    margin: auto;
    text-align: center;
    width: 600px;
    padding: 20 px;
}
h1{
    font-size: 50px;
    margin: 0;
}

button{
    margin: 10px;
}